@import url(normalize.css);
body{
    background-color: #f3f5f6;
    color: #193441;
    min-width: 80rem;
}
header{
    height: 5rem;
    position: relative;
    min-width: 80rem;
    padding: 0rem 10rem;
    background-color: #3e606f;
}
header>img{
    height: 5rem;
}
#content{
    width: 95%;
    margin: 0rem auto 8rem auto;
    min-width: 80rem;
    display: table;
}
footer{
    position: absolute;
    height: 4rem;
    width: 100%;
    line-height: 4rem;
    background-color: #3E606F;
    min-width: 80rem;
    color: #FCFFF5;
}
footer>p{
    margin: 0rem;
    margin-left: 3rem;
}
a:link,a:visited{
    color: #3E606F;
}
a:hover,a:active{
    color: #e74c3c;
}
#tableShow{
    display: table-row;
}
#mainBody{
    position: relative;
    display: table-cell;
    padding-bottom: 8rem;
    padding-left: 5rem;
}
aside{
    display: table-cell;
    width: 24rem;
    padding: 2rem 5rem 2rem 4rem;;
}
ul{
    list-style-type: none;
}
code{
    font-family: Consolas;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 0.3rem;
    padding: 0.2rem 0.4rem;
}
blockquote{
    border-left: 0.5rem #e3e9d7 solid; 
    padding:2rem;
    margin-left:3.2rem;
    font-weight: bold;
}
.imgs{
    text-align:center;        
}
.video{
    text-align: center;
    margin: 3rem 0rem;
}
video{
    width: 48rem;
}
/*导航框*/
nav,nav>ul{
    height: 5rem;
}
nav{
    /*float: left;*/
    position: absolute;
    top: 0rem;
    left: 30rem;
}
nav ul{
    margin: 0rem;
    padding: 0rem;
}
nav a:link,nav a:visited{
    color: #f3f5f6;
}
nav a:active,nav a:hover{
    color: #3E606F;
    background-color: #f3f5f6;
    border-radius: 1rem 1rem 0rem 0rem;
}
nav li{
    float: left;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-weight: 300;
}
nav li a{
    font-size: 2.4rem;
    padding: 1.3rem 2rem;
}
/*搜索框*/
header form{
    position: absolute;
    top: 0rem;
    right: 10rem;
    height: 5rem;
    line-height: 5rem;
}
#search{
    height: 3rem;
    width: 25rem;
    margin: 0rem;
    padding: 0.1rem 8rem 0.1rem 1.5rem;
    position: relative;
    left: 5rem;
    background-color: #f3f5f6;
    border: none;
    border-radius: 1.5rem;
}
search:focus{
    width: 45rem;
}
#button{
    height: 3rem;
    margin: 0rem;
    position: relative;
    right:3.3rem;
    background-color: #f3f5f6;
    border-color:#f3f5f6; 
    border-style: solid;
    border-radius: 1.5rem;
}
#search:focus{
    outline: none;
}
#button:focus{
    outline: none;
}
#button:hover{
    background-color: #D1DBBD;
    border-color: #D1DBBD;
    cursor:pointer;
}
#button:active{
    background-color: #91AA9D;
    border-color: #91AA9D;
    cursor:pointer;
}
/*页面导航*/
#pageNavi{
    position: absolute;
    bottom: 0rem;
    margin: 0rem auto;
    width: 100%;
}
#pageNavi ul{
    height: 2.8rem;
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    text-align: center;
}
#pageNavi li{
    display: inline;
    font-size: 1.6rem;
}
#pageNavi li a{
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    background-color: #e3e9d7;
    border-radius: 0.5rem;
}
#pageNavi li a:hover{
    background-color: #D1DBBD;
}
#pageNavi a:hover,#pageNavi a:active{
    color: #3E606F;
}
/*标签*/
#tagsCloud a{
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    background-color: #e3e9d7;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    line-height: 4rem;
}
#tagsCloud a:hover{
    background-color: #D1DBBD;
}
#tagsCloud a:hover,#tagsCloud a:active{
    color: #3E606F;
}
/*文章列表*/
.articleSyn{
    margin-top: 3rem;
    padding-bottom: 3.2rem;
    border-bottom: 0.3rem #e3e9d7 solid;
}
.articleSyn .title{
    border-left: 0.4rem #e3e9d7 solid;
    padding-left: 0.6rem; 
}
.articleMeta{
    margin: 1rem 0rem;
    padding-left: 1rem;
}
.metaTime{
    margin-right: 1rem;
}
.synopsis{
    margin: 1rem;
    padding-top: 1rem;
    border-top: thin #e3e9d7 solid;
    overflow: hidden;
}
.synopsis p{ 
    margin: 0rem;
}
.synopsis img{
    width:20rem;
    margin-right: 2rem;
    float: left;
}
.contReading{
    padding: 0.5rem 2rem;
    background-color: #e3e9d7;
    float: right;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.contReading:hover{
    background-color: #D1DBBD;
    color: #3E606F;
}
#photos{
    width: 108rem;
    margin: auto;
    position: relative;
}
.imgBox{
    position: absolute;
    width: 48rem;
    background-color: #fff;
    border-radius: 0.5rem;
    /*padding: 3rem 0rem 5rem 0rem;*/
}
.imgBox img{
    width: 48rem;
}
.imgBox:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,.1);
}
.imgBox .title{
    position: relative;
    bottom: 0.7rem;
    height: 5rem;
    padding: 0rem 2rem;
    line-height: 5rem;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    
    /*border-bottom: 0.1rem solid rgba(0,0,0,.15);*/
}
/*.first,.second{
    float: left;
    top:12rem;
}
.first{
    left: 0rem;
}
.second{
    left: 60rem;
}*/