@import url(normalize.css);
html{
    background: #3E606F;
}
body{
    background-color: white;
    color: #193441;
    min-width: 80rem;
}
header{
    height: 10rem;
    width: 95%;
    margin: 0rem auto;
    position: relative;
    min-width: 80rem;
}
#content{
    width: 95%;
    margin: 0rem auto 8rem auto;
    border-top:0.3rem #3E606F solid;
    min-width: 80rem;
    display: table;
}
footer{
    height: 4rem;
    width: 100%;
    line-height: 4rem;
    background-color: #3E606F;
    min-width: 80rem;
    color: #FCFFF5;
}
footer>p{
    margin-left: 3rem;
}
a:link,a:visited{
    color: #3E606F;
}
a:hover,a:active{
    color: #e74c3c;
}
#tableShow{
    display: table-row;
}
#mainBody{
    position: relative;
    display: table-cell;
    padding-bottom: 8rem;
    padding-left: 5rem;
}
aside{
    display: table-cell;
    width: 24rem;
    padding: 2rem 5rem 2rem 4rem;;
}
ul{
    list-style-type: none;
}
code{
    font-family: Consolas;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 0.3rem;
    padding: 0.2rem 0.4rem;
}
blockquote{
    border-left: 0.5rem #e3e9d7 solid; 
    padding:2rem;
    margin-left:3.2rem;
    font-weight: bold;
}
/*导航框*/
nav,nav>ul{
    height: 5rem;
}
nav{
    float: left;
    position: absolute;
    left: 33rem;
    bottom: 0.5rem;
}
nav ul{
    margin: 0rem;
    padding: 0rem;
}
nav a:hover,nav a:active{
    color: #3E606F;
}
nav li{
    float: left;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}
nav li a{
    font-size: 2.4rem;
    padding: 0.9rem 1rem;
    font-weight: bold;
}
nav li a:hover{
    border-bottom:0.3rem #e3e9d7 solid;
}
/*搜索框*/
header form{
    position: absolute;
    bottom: 0.3rem;
    right: 1rem;
    height: 5rem;
    line-height: 5rem;
}
#search{
    height: 3rem;
    width: 25rem;
    margin: 0rem;
    padding: 0.1rem 8rem 0.1rem 0.3rem;
    position: relative;
    left: 5rem;
}
#button{
    height: 3rem;
    margin: 0rem;
    position: relative;
    right:3.3rem;
    background-color: #e3e9d7;
    border-color:#e3e9d7; 
    border-style: solid;
}
#search:focus{
    outline-color: #e3e9d7;
}
#button:focus{
    outline: none;
}
#button:hover{
    background-color: #D1DBBD;
    border-color: #D1DBBD;
    cursor:pointer;
}
#button:active{
    background-color: #91AA9D;
    border-color: #91AA9D;
    cursor:pointer;
}
/*页面导航*/
#pageNavi{
    position: absolute;
    bottom: 0rem;
    margin: 0rem auto;
    width: 100%;
}
#pageNavi ul{
    height: 2.8rem;
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    text-align: center;
}
#pageNavi li{
    display: inline;
    font-size: 1.6rem;
}
#pageNavi li a{
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    background-color: #e3e9d7;
    border-radius: 0.5rem;
}
#pageNavi li a:hover{
    background-color: #D1DBBD;
}
#pageNavi a:hover,#pageNavi a:active{
    color: #3E606F;
}
/*标签*/
#tagsCloud a{
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    background-color: #e3e9d7;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    line-height: 4rem;
}
#tagsCloud a:hover{
    background-color: #D1DBBD;
}
#tagsCloud a:hover,#tagsCloud a:active{
    color: #3E606F;
}
/*文章列表*/
.articleSyn{
    margin-top: 3rem;
    padding-bottom: 3.2rem;
    border-bottom: 0.3rem #e3e9d7 solid;
}
.title{
    border-left: 0.4rem #e3e9d7 solid;
    padding-left: 0.6rem; 
}
.articleMeta{
    margin: 1rem 0rem;
    padding-left: 1rem;
}
.metaTime{
    margin-right: 1rem;
}
.synopsis{
    height: 7rem;
    margin: 1rem;
    padding-top: 1rem;
    border-top: thin #e3e9d7 solid;
    overflow: hidden;
}
.synopsis p{
    padding-top:0.2rem; 
}
.contReading{
    padding: 0.5rem 2rem;
    background-color: #e3e9d7;
    float: right;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.contReading:hover{
    background-color: #D1DBBD;
    color: #3E606F;
}
.haveImsges{
    height: 13rem;
}
.haveImsges img{
    height:13rem;
    margin-right: 2rem;
    float: left;
}
/*文章*/
.wholeArticle{
    /*background-color: rgb(240, 240, 240);*/
    margin: 3rem auto;
    border-radius: 2rem;
    width: 70%;
}
.wholeArticle h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 8rem;
    text-align: center;
}
.wholeArticleMeta{
    margin-bottom: 4rem;
    padding-left: 0rem;
    color: gray;
    text-align: center;
}
.wholeArticle p{
    line-height: 1.5;
    text-indent:3.2rem;
}
.wholeArticle pre{
    color: #c7254e;
    padding: 2rem;
    background: #ebeef5;
    white-space: pre-wrap;
    word-break: break-all;
}
.codeBlock{
    color: #c7254e;
    background-color: transparent;
    border:none;
    padding:0rem;
}
.wholeArticle img{
    margin: 2rem;
}
.imgs{
    text-align:center;        
}